#formCheclist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;  
    margin: 5px;
}
#formCheclist button{
    margin: 0 5px;
}
#groupForm{
    display: flex;
}
#groupFormDate{
    display: flex;
    align-items: center;
}
#groupFormDate input{
    margin: 0 5px;
}
#groupFormDate{
    display: flex;
}
