#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  height: 40px;
  border-radius: 5px;
}

#inputCheck {
  margin-left: 10px;
  width: 350px
}

#inputCheckList {
width: 90%
}

#date {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  text-align: center;
  margin-left: 50px;
}

#date1 {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-left: 100px;
}

#date2 {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-right: 100px;
}

#date p {
  margin-right: 30px;
  margin-left: 10px;
}

#search {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#getCheckList {
  overflow-y: auto;
  height: 80%;
}

.checklistCreated {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin: 5px 10px;
  background-color: rgb(255, 255, 255);
}

#description {
  font-weight: bold;
  width: 400px;
  margin-left: 10px;
}

#function {
  width: 180px;
}

#function button {
  cursor: pointer;
}

.container {
  display: none;
  flex-direction: column;
}

#displayHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:35%;
  background-color:#326744
}

#headerUserList{
  width: 90%;
  height:50px;
  font-weight: bold;
  font-size:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(178, 178, 178);
  color: white;
}

#buttonGroup {
  display: flex;
  width: 35%;
  height:50px;
  align-items: center;
  justify-content: center;
}

#saveGroup{
  height: 40px;
  width: 100px;
  margin-left: 10px;
  background: #326744;
  color: white;
  cursor: pointer;
}

#backGroup{
  color: white
}

#borderBack{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 18px;
  cursor: pointer;
}