#homeDiv {
    display: flex;
    width: 100%;
    height: 100%;
}

#bodyMessageDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    width: 250px;
}

#bodyMessageDiv header {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background: white;
    border-bottom: solid 1px rgb(178, 178, 178);
}

#bodyMessageDiv header p {
    margin-left: 5px;
}

#bodyMessageDiv header img:hover {
    cursor: pointer;
}

#bodyMessageDiv section {
    margin: 5px;
    overflow-y: auto;
    height: 85%;
    background: white;
    border: solid 1px rgb(178, 178, 178);
}

.messageReceived {
    width: 100%;
    margin-top: 10px;
    word-wrap: break-word;
}

.messageReceived p {
    padding: 2px;
    width: 70%;
    background: #f1f2f5;
    border-radius: 5px;
}

.messageReceived span {
    background: #f1f2f5;
    font-size: 14px;
    opacity: .7;
    padding: 2px;
}

.messageSend {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    word-wrap: break-word;
}

.messageSend p {
    padding: 2px;
    width: 70%;
    background: #f1f2f5;
    border-radius: 5px;
}

#bodyMessageDiv footer {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#bodyMessageDiv footer button {
    border: none;
    background: none;
}

#bodyMessageDiv footer button:hover {
    cursor: pointer;
}

#homeLeft {
    border-right: solid 5px white;
    width: 50%;
    height: 100%;
}

#welcom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    background: white;
    min-height: 10%;
    border: 1px solid rgb(178, 178, 178);
}

h1 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

b {
    font-weight: bold;
}

#welcom p {
    border-top: 1px solid rgb(178, 178, 178);
    padding: 5px;
}

#bodyHome {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
    height: 85%;
}

#messageDiv {
    margin: 5px;
    width: 49%;
    height: 100%;
    border: 1px solid rgb(178, 178, 178);
    overflow-y: auto;
}

#bodyChatDiv {
    padding: 5px;
}

.cardMessageUser {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.cardMessageUser img {
    margin-left: 5px;
}

.photosUsers {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    margin-right: 10px;
}

#checkResponseDiv {
    margin: 5px;
    width: 49%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid rgb(178, 178, 178);
}

.dashboardHome {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-bottom: 1px solid rgb(178, 178, 178);
}

#homeRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#checkDiv {
    margin: 5px;
    height: 50%;
    overflow-y: auto;
}

#bodyCheckDiv {
    display: flex;
    width: 100%;
    height: 89%;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.editChecklistCard {
    pointer-events: painted;
}

.articleLeftChecklist {
    padding: 1px;
    width: 50%;
    height: 100%;
    border-right: 1px solid rgb(178, 178, 178);
    overflow-y: auto;
    pointer-events: painted;
}

.listEmployees {
    display: flex;
    justify-content: center;
    min-height: 90%;
}

.listEmployeesEmpty {
    margin-left: 5px;
}

.articleLeftChecklist ol, .articleRigthChecklist ol {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    background: #f1f2f5;
    width: 60%;
    border: solid 1px black;
}
.articleLeftChecklist ol li{
    word-break: break-word;
    margin-right: 10px;
}
.articleRigthChecklist {
    padding: 1px;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    pointer-events: painted;
}

.notificationChecklist {
    display: flex;
    align-items: center;
    min-height: 20px;
}

.unicNotifyOn {
    margin-left: 10px;
    color: #326744;
    font-weight: bold;
    font-size: 16px;
}

.unicNotifyOff {
    margin-left: 10px;
    color: #B5001A;
    font-weight: bold;
    font-size: 16px;
}

#bodyCheckDiv::-webkit-scrollbar {
    height: 5px;
}

#bodyCheckDiv::-webkit-scrollbar-track {
    background: transparent;
}

#bodyCheckDiv::-webkit-scrollbar-thumb {
    background: #326744;
    border-radius: 10px;
}

.cardCheck {
    flex: none;
    width: 75%;
    height: 170px;
    margin: 5px;
    border: solid 1px rgb(178, 178, 178);
    background: white;
    padding: 3px;
    border-radius: 5px;
    scroll-snap-align: start;
    pointer-events: none;
}
.cardCheck header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(178, 178, 178);
    padding-bottom: 3px;
    min-height: 18px;

}
.cardCheck section {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    height: 80%;
}
.listQuestionsHeader {
    display: flex;
    align-items: center;
    width: 100%;
    /* border-bottom: solid 1px rgb(178, 178, 178); */
}
.listQuestions {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 100%;
}
.viewQuizList {
    background-image: url("../../assets/images/down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
#recordDiv {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 50%;
    border-top: solid 5px white;
}
#subRecordDiv {
    height:100%;
    overflow-y: auto;
}
#bodyRecordDiv{
    display:grid;
    grid-template-columns: 1fr 1fr ;
}
.cardRecord{
    background:white;
    margin: 5px;
    border: solid 1px rgb(178, 178, 178);
}
.cardRecord:hover{
    cursor: pointer;
}
.cardRecord section div{
    display:flex;
    justify-content:space-between;   
}
.cardRecord header,.cardRecord section{
    margin:5px;
}
@media screen and (min-width: 1500px) {
    #bodySection p {
        font-size: 17px;
        margin: 5px;
    }

    #welcom p, .listQuestions, .listEmployees {
        font-size: 16px;
    }

    #bodySection h1 {
        font-size: 23px;
    }

    #bodySection h2 {
        font-size: 20px;
    }

    .cardMessageUser {
        padding: 5px;
    }

    .cardMessageUser p {
        font-size: 18px;
    }

    .cardMessageUser img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .cardCheck {
        height: 230px;
    }

    .listEmployees {
        min-height: 85%;
    }

    .viewQuizList {
        margin-left: 2px;
    }

    
}
/* ESTILIZAÇAO DOS CHECKLISTS RESPONDIDOS */
.cardRecordClass {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px  black;
    background: white;
    margin: 25px 5px;
    min-height: 50px;
}
.cardRecordClass:hover{
    cursor: pointer;
}
.cardRecordClass aside{
    border-bottom: 1px solid rgb(178, 178, 178);
}
.cardRecordClass aside p{
    margin:2.5px;
}
.cardRecordClass section{
    margin: 10px;
}

#bodyReportDiv{
    overflow-y: auto;
    height: 93%;
}
